services:
  # Frontend (Port 8080)
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        VITE_API_BASE_URL: trip-trader-backend.up.railway.app
        VITE_WS_URL: wss://trip-trader-backend.up.railway.app/ws
        VITE_SUPABASE_PROJECT_ID: japhrkohqnslieqeuodn
        VITE_SUPABASE_PUBLISHABLE_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphcGhya29ocW5zbGllcWV1b2RuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2NTAxNDcsImV4cCI6MjA3MzIyNjE0N30.ojxILnrhEnag8ShhMnC2AsqS4O-mW_VvjejOEGd0R3A
        VITE_SUPABASE_URL: https://japhrkohqnslieqeuodn.supabase.co

    container_name: triptrader_frontend
    ports:
      - "8080:8080" # เปลี่ยนเป็น 8080
    depends_on:
      - backend
    networks:
      - triptrader_network
    restart: unless-stopped

  # Backend (Port 8000)
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: triptrader_backend
    environment:
      - SUPABASE_DB_URL=postgresql://postgres.japhrkohqnslieqeuodn:2I91XBeW6dBoreCC@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
      - ALLOWED_ORIGINS=http://localhost:8080
      - GIN_MODE=release
      - PORT=8000
      - SUPABASE_URL=https://japhrkohqnslieqeuodn.supabase.co
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphcGhya29ocW5zbGllcWV1b2RuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzY1MDE0NywiZXhwIjoyMDczMjI2MTQ3fQ.xqRvVjR18eNskr12qx3X-jg6tFlLfqwM13au1Gw12zA
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphcGhya29ocW5zbGllcWV1b2RuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2NTAxNDcsImV4cCI6MjA3MzIyNjE0N30.ojxILnrhEnag8ShhMnC2AsqS4O-mW_VvjejOEGd0R3A
    ports:
      - "8000:8000"
    networks:
      - triptrader_network
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 1.1.1.1
    extra_hosts:
      - "db.japhrkohqnslieqeuodn.supabase.co:52.77.146.31"
    volumes:
      - ./backend/uploads:/root/uploads

networks:
  triptrader_network:
    driver: bridge
